## compatibility with Xcode 8 and earlier (ignoring not required starting Xcode 9)
*.xcscmblueprint
*.xccheckout

### Xcode Patch ###
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

### Projects ###

*.html
*.juint

### Tuist derived files ###
graph.dot

### Tuist managed dependencies ###
Tuist/Dependencies
Pods/
Fastlane/report.xml
Fastlane/test_output